{% extends "base.html" %}

{% block title %}
Forgot Password | Malaysian Language Heritage Explorer
{% endblock %}

{% block content %}

<h2>Forgot Password</h2>

<p class="mt-3" style="max-width: 500px;">
    Enter the email address connected to your account.
    A password reset link will be created if an account exists.
</p>

<form
    method="POST"
    class="mt-3"
    style="max-width: 400px;"
>

    <input
        type="hidden"
        name="csrf_token"
        value="{{ csrf_token() }}"
    >


    <div class="mb-3">

        <label
            for="email"
            class="form-label"
        >
            Email
        </label>

        <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            maxlength="254"
            autocomplete="email"
            required
        >

    </div>


    <button
        type="submit"
        class="btn btn-primary"
    >
        Create Reset Link
    </button>

</form>


<p class="mt-3">

    Remembered your password?

    <a href="{{ url_for('login') }}">
        Return to login
    </a>.

</p>

{% endblock %}